VITE_API_URL=http://localhost:5000/api
VITE_APP_NAME=Rehearsly
VITE_FIREBASE_API_KEY=AIzaSyBIrVkK0IbCkZkybxoiLsd98z_jijzQ1qM
VITE_FIREBASE_AUTH_DOMAIN=taskmanager-a5ac2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=taskmanager-a5ac2
VITE_FIREBASE_STORAGE_BUCKET=taskmanager-a5ac2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=467683095414
VITE_FIREBASE_APP_ID=1:467683095414:web:dfc51f26547d2874674057
